<div class="card mb-3">
	<div class="card-header text-center">
		<h2>My scrapper</h2>
	</div>
	<div class="row">
		<div class="card-body">
			<%if (scrapper && locals.scrapper.Sources) {%>
				<h3>
					<b>
						<u id="#scraprname"><%= locals.scrapper.name %></u>
					</b>
				</h3>
				<% for (el in locals.scrapper.Sources) {%>
					<div class="col-sm-6">
						<div class="card mb-1">
							<div class="card-header">
								<b><%= el %></b>
							</div>
							<div class="card-body">
								<%for (srctype in locals.scrapper.Sources[el]) {%>
									<li><%= srctype %>
										<%if (locals.scrapper.Sources[el][srctype].length) {%>
											<button type="button" class="btn btn-sm btn-primary ml-3" data-toggle="modal" data-target="#yolo" title="source">show source</button>
											<div class="modal fade" id="yolo" tabindex="-1" role="dialog" aria-labelledby="source info" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<%= JSON.stringify(locals.scrapper.Sources[el][srctype])%>
													</div>
												</div>
											<%}%>
										</li>
									<%}%>
								</div>
							</div>
						</div>
					<%}%>
				<%} %>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addsourcemod">
					Add source
				</button>
				<button type="submit" class="btn btn-primary text-white">Do other thing</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<div class="card mb-3">
				<div class="card-header text-center">
					<h2>Tasks</h2>
				</div>
				<div class="card-body text-center">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button id="scrape" type="button" class="btn btn-secondary mr-2" data-toggle="collapse" href="#fii" role="button" aria-expanded="false" aria-controls="fii">SCRAPE</button>
						<button id="eat" type="button" class="btn btn-secondary mr-2" data-toggle="collapse" href="#fee" role="button" aria-expanded="false" aria-controls="fii">EAT</button>
						<button id="read" type="button" class="btn btn-secondary" data-toggle="collapse" href="#fuu" role="button" aria-expanded="false" aria-controls="fii">READ</button>
					</div>
				</div>
				<div class="card-footer">
					<button id="abort" type="submit" class="btn btn-danger text-white">Abort</button>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="card mb-3">
				<div class="card-header text-center">
					<h2>Scrapper logs</h2>
				</div>
				<div class="card-body">
					<div class="collapse mt-2" id="fii">
						<div class="card card-body infiList">
							<div id="slogcontent"></div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center"><%= Date.now()%></div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="card">
				<div class="card-header text-center">
					<h2>Files results</h2>
				</div>
				<div class="card-body">
					<div class="collapse mt-2" id="fuu">
						<div class="card card-body infiList">
							<div id="filescontent"></div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-primary text-white">Ok</button>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="card">
				<div class="card-header text-center">
					<h2>Parseur logs</h2>
				</div>
				<div class="card-body">
					<div class="collapse mt-2" id="fee">
						<div class="card card-body infiList">
							<div id="plogcontent"></div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center"><%= Date.now()%></div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addsourcemod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add scrapper source
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/datajunk/scrapper/newsource" method="post">
				<div class="modal-body">
					<div class="form-group">
						<label for="scname">Scrapper name</label>
						<% if (locals.scrapper) {%>
							<input name="name" class="form-control text-black" type="text" value="<%= locals.scrapper.name%>" readonly="readonly">
						<%} else {%>
							<div class="alert-danger text-center">Please create a scrapper first
							</div>
						<%}%>
					</div>
					<div class="form-group">
						<label for="stype">Source genre</label>
						<select name="sourcegenre" class="form-control" id="stype">
							<option>Bank</option>
							<option>Crypto</option>
							<option>Markets</option>
						</select>
					</div>
					<div class="form-group">
						<label for="stype">Source type</label>
						<select name="sourcetype" class="form-control" id="stype">
							<option>infos</option>
							<option>prices</option>
							<option>other</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sname">Source name</label>
						<input name="sourcename" id="sname" type="text" class="form-control"></input>
					</div>
					<div class="form-group">
						<label for="surl">Source url</label>
						<input name="sourceurl" id="surl" type="text" class="form-control"></input>
					</div>
					<div class="form-group">
						<label for="shost">Source request host</label>
						<input name="sourcereqhost" id="shost" type="text" class="form-control"></input>
					</div>
					<div class="form-group">
						<label for="spath">Source request path</label>
						<input name="sourcereqpath" id="spath" type="text" class="form-control"></input>
					</div>
					<div class="form-group">
						<label for="sregx">Source regex</label>
						<input name="sourceregex" id="sregx" type="text" class="form-control"></input>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary text-white">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>