<div id="view"
    class="card">
	<div class="card-header"
	    id="headingOne">
		<h5 class="mb-0">
	<button class="btn btn-secondary btn-lg btn-block dropdown-toggle"
	data-toggle="collapse" data-target="#collapseOne">
	| View |
</button> </h5> </div>
	<div id="collapseOne"
	    class="card-body collapse">
		<% if (locals.data && data.assets && Object.keys(data.assets).length) {%>
			<div class="infiList">
				<ul class="list-group">
					<%for
				    (var
				    elems
				    in
				    data.assets){
				    %>
						<a href="<%= '#' + data.assets[elems].symbol %>"
						    label="<%=data.assets[elems].symbol%>"
						    class="<%= elems == 0 ? 'list-group-item list-group-item-info active' : 'list-group-item list-group-item-info' %>">
							<%= data.assets[elems].symbol +
						' : ' + data.assets[elems].qtt %>
						</a>
						<%} %>
				</ul>
			</div>
			<%}
		%>
				<% if (!locals.data) {%> Please <a href="/login">LOGIN</a> to view your assets
					<%}
		%>
	</div>
	<div id="add"
	    class="card">
		<div class="card-header"
		    id="headingTwo">
			<h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block dropdown-toggle"
	data-toggle="collapse" data-target="#collapseTwo">
          [+] Add
  </button> </h5> </div>
		<div id="collapseTwo"
		    class="card-body collapse"> <select type="select"
			    id="ticker"
			    class="form-control">
			<% if (locals.symb && Object.keys(symb).length) {%>
				<% for (var elems in symb){ %>
					<option label="<%=symb[elems]%>">
					 <%- elems %></option>
					 <%} %>
				<%}
			%>
			</select> <input id="qtt"
			    type="number"
			    step="0.000000001"
			    min="0"
			    class="form-control"
			    placeholder="enter amount">
			<div class="card-body"> <button id="addme"
				    class="btn btn-lg btn-block btn-info"> OK
			        </button> </div>
		</div>
	</div>