<div id="view"
    class="card">
	<div class="card-header"
	    id="headingOne">
		<h5 class="mb-0">
	<button class="btn btn-secondary btn-lg btn-block dropdown-toggle"
	data-toggle="collapse" data-target="#collapseOne">
	| View |
</button> </h5> </div>
	<div id="collapseOne"
	    class="card-body collapse">
		<%if (locals.data && locals.data.assets) {%>
			<div class='infiList'>
				<%for (var elem in locals.data.assets) {%> <button id="<%= 'Tick-'+ elem%>"
					    class="btn btn-success btn-block">
	<%= locals.data.assets[elem].symbol + ' | ' + locals.data.assets[elem].qtt%></button>
					<div class="card text-center">
						<div class="card-header">
							<%= locals.data.assets[elem].symbol %>
						</div>
						<div class="card-body">
							<p class="card-text">
								<div class="row">
									<div class="col"><canvas id="<%='myChart-' + elem%>"
										    width="100"
										    height="50"
										    style="border:1px solid #000000;"></canvas></div>
									<div class="col"><canvas id="<%='myChart2-' + elem%>"
										    width="100"
										    height="50"
										    style="border:1px solid #000000;"></canvas></div>
								</div>
							</p>
							<div class="btn-toolbar justify-content-between"
							    role="toolbar"
							    aria-label="Toolbar with button groups">
								<div class="btn-group"
								    role="group"
								    aria-label="First group"> <button type="button"
									    class="btn btn-secondary">1 Week</button> <button type="button"
									    class="btn btn-secondary">1 Month</button> <button type="button"
									    class="btn btn-secondary">3 Months</button> <button type="button"
									    class="btn btn-secondary">1 Year</button> <button type="button"
									    class="btn btn-secondary">3 Years</button> </div>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text"
										    id="btnGroupAddon2"></div>
									</div> <input type="text"
									    class="form-control"
									    placeholder="Input group example"
									    aria-label="Input group example"
									    aria-describedby="btnGroupAddon2"> </div>
							</div </div>
							<div class="card-footer text-muted"> 2 days ago </div>
						</div>
					</div>
			</div>
	</div>
	<% } %>
		<% }
else {
	%> <a href="/login">LOGIN</a>
			<% }
	%>
</div>
<div id="add"
    class="card">
	<div class="card-header"
	    id="headingTwo">
		<h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block dropdown-toggle"
	data-toggle="collapse" data-target="#collapseTwo">
          [+] Add
  </button> </h5> </div>
	<div id="collapseTwo"
	    class="card-body collapse"> <select type="select"
		    id="ticker"
		    class="form-control">
			<% if (locals.symb && Object.keys(symb).length) {%>
				<% for (var elems in symb){ %>
					<option label="<%=symb[elems]%>">
					 <%- elems %></option>
					 <%} %>
				<%}
			%>
			</select> <input id="qtt"
		    type="number"
		    step="0.000000001"
		    min="0"
		    class="form-control"
		    placeholder="enter amount">
		<div class="card-body"> <button id="add"
			    class="btn btn-lg btn-block btn-info"> OK
			        </button> </div>
	</div>
</div>